<% include ./../../views/headerConnecte %>

<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-multiline">
      <div class="column is-6 is-4-desktop">
        <a class="card has-text-centered" href="/observation/domaine">
          <div class="card-header-title is-centered has-background-grey-light">
            <figure class="image is-128x128">
              <img src="./images/illustrations/undraw_children_4rtb.svg">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="has-text-weight-light has-text-primary">Créer une observation</span>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6 is-4-desktop">
        <a class="card has-text-centered" href="/eleves">
          <div class="card-header-title is-centered has-background-grey-lighter">
            <figure class="image is-128x128">
              <img src="./images/illustrations/undraw_joyride_hnno.svg">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="has-text-weight-light has-text-primary">Gérer les élèves</span>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6 is-4-desktop">
        <a class="card has-text-centered" href="/parents">
          <div class="card-header-title is-centered has-background-grey-light">
            <figure class="image is-128x128">
              <img src="./images/illustrations/undraw_play_time_7k7b.svg">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="has-text-weight-light has-text-primary">Gérer les parents</span>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6 is-4-desktop">
        <a class="card has-text-centered" href="/partage">
          <div class="card-header-title is-centered has-background-grey-lighter">
            <figure class="image is-128x128">
              <img src="./images/illustrations/undraw_team_ih79.svg">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="has-text-weight-light has-text-primary">Partager avec les collègues</span>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6 is-4-desktop">
        <a class="card has-text-centered" href="/exportcsa">
          <div class="card-header-title is-centered has-background-grey-light">
            <figure class="image is-128x128">
              <img src="./images/illustrations/undraw_gardening_eaf3.svg">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="has-text-weight-light has-text-primary">Exporter les carnets</span>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6 is-4-desktop">
        <a class="card has-text-centered" href="/suivis">
          <div class="card-header-title is-centered has-background-grey-lighter">
            <figure class="image is-128x128">
              <img src="./images/illustrations/undraw_progress_data_4ebj.svg">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="has-text-weight-light has-text-primary">Points de suivi</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<% include ./../../views/footer %>
