<% include ./../../views/headerConnecte %>

<section class="section">
  <div class="container">
    <h2 class="title">Cette partie est en cours de développement et sera bientôt disponible.</h2>
    <div class="buttons is-centered">
      <a class="button is-dark" href="/acceuil">Retour à l'acceuil</a>
    </div>
    <figure class="image">
      <img src="/images/illustrations/undraw_under_construction_46pa.svg"
        alt="Cette partie est en cours de développement et sera bientôt disponible.">
    </figure>
  </div>
</section>

<% include ./../../views/footer %>
