<% include ./../../views/headerConnecte %>

<section class="section">
    <div class="container">
        <%= typeof titre != 'undefined' ? titre : 'Carnet de Suivi' %>
    </div>
</section>

<% include ./../../views/footer %>
