<% include ./../../views/headerConnecte %>

<section class="section">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-10">
        <figure class="image is-48x48 is-hidden-tablet is-pulled-right demanderAjoutEleve">
          <img src="/images/icones/plus-circle-solid.svg">
        </figure>
      </div>
      <div class="column">
        <button class="button is-success is-hidden-mobile demanderAjoutEleve">Ajouter un élève</button>
      </div>
    </div>

    <hr>

    <div id="formAjoutEleve"></div>

    <% if ( typeof listeEleves[0] === 'undefined') { %>
    <h3 class="subtitle is-italic">Vous n'avez pas encore d'élèves.</h3>
    <% } else { %>
    <% listeEleves.forEach(eleve => { %>
    <div class="box has-background-grey-lighter">
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" value="<%= eleve.nom %>">
        </p>
      </div>
    </div>
    <% }); %>
    <% } %>

  </div>
</section>

<% include ./../../views/footer %>
