<% include ./../../views/headerConnecte %>

<section class="section">
    <div class="container">
        <h1 class="title is-italic has-text-centered">Cet élève n'est pas lié à votre compte, vous ne pouvez pas voir
            son carnet.</h1>
    </div>
</section>

<% include ./../../views/footer %>
