<% include ./../../views/headerConnecte %>

<section class="section">
    <div class="container">
        <h2 class="title is-italic has-text-centered">Vous n'avez pas d'élèves actifs actuellement.</h2>
        <div class="buttons is-centered">
            <a class="button is-dark" href="/eleves">Ajouter des élèves</a>
        </div>
    </div>
</section>

<% include ./../../views/footer %>
