<% include ./../../views/headerConnecte %>

<section class="section">
    <div class="container has-text-centered">
        nouvelle observations
    </div>
</section>

<% include ./../../views/footer %>
