<% include ./../../views/headerConnecte %>

<section class="section">
    <div class="container has-text-centered">
        <div class="columns is-multiline">
            <div class="column is-6 is-4-desktop">
                <a class="card has-text-centered" href="/observation/oral">
                    <div class="card-header-title is-centered has-background-grey-light">
                        <figure class="image is-128x128">
                            <img src="./images/illustrations/undraw_happy_music_g6wc.svg">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <span class="has-text-weight-light has-text-primary">Mobiliser le langage dans toutes ses
                                dimensions : l'oral</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-6 is-4-desktop">
                <a class="card has-text-centered" href="/observation/ecrit">
                    <div class="card-header-title is-centered has-background-grey-lighter">
                        <figure class="image is-128x128">
                            <img src="./images/illustrations/undraw_book_lover_mkck.svg">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <span class="has-text-weight-light has-text-primary">Mobiliser le langage dans toutes ses
                                dimensions : l'écrit</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-6 is-4-desktop">
                <a class="card has-text-centered" href="/observation/physique">
                    <div class="card-header-title is-centered has-background-grey-light">
                        <figure class="image is-128x128">
                            <img src="./images/illustrations/undraw_physique.svg">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <span class="has-text-weight-light has-text-primary">Agir, s'exprimer, comprendre à travers
                                l'activité physique</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-6 is-4-desktop">
                <a class="card has-text-centered" href="/observation/artistique">
                    <div class="card-header-title is-centered has-background-grey-lighter">
                        <figure class="image is-128x128">
                            <img src="./images/illustrations/undraw_making_art_759c.svg">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <span class="has-text-weight-light has-text-primary">Agir, s'exprimer, comprendre à travers
                                les activités artistiques</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-6 is-4-desktop">
                <a class="card has-text-centered" href="/observation/construire">
                    <div class="card-header-title is-centered has-background-grey-light">
                        <figure class="image is-128x128">
                            <img src="./images/illustrations/undraw_game_world_0o6q.svg">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <span class="has-text-weight-light has-text-primary">Construire les premiers outils pour
                                structurer sa pensée</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-6 is-4-desktop">
                <a class="card has-text-centered" href="/observation/explore">
                    <div class="card-header-title is-centered has-background-grey-lighter">
                        <figure class="image is-128x128">
                            <img src="./images/illustrations/undraw_true_love_cy8x.svg">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <span class="has-text-weight-light has-text-primary">Explorer le monde</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<% include ./../../views/footer %>
