<% include ./../../views/headerConnecte %>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">OK</h2>
    <h3><% if ( typeof id != 'undefined' ) { %> <%= id %> <% } else { %> pas d id <% } %></h3>
  </div>
</section>

<% include ./../../views/footer %>
