<div class="modal modal-help">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Aide</p>
    </header>
    <section class="modal-card-body">
      <p class="is-font-secondary content-help"></p>
    </section>
    <footer class="modal-card-foot">
      <button class="button help-close is-primary" aria-label="close">Fermer</button>
    </footer>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<footer class="footer has-background-grey-light">
  <div class="content has-text-centered">
    <div class="columns">
      <div class="column">
        <a class="link is-info has-text-black-bis" href="/cgu">Conditions Générales d'Utilisation</a>
      </div>
      <div class="column">
        <a class="link is-info has-text-black-bis" href="https://gitlab.com/franckf/carnet-de-suivi">Code Libre et
          Disponible</a>
      </div>
    </div>
    <p>
      2020 carnet-de-suivi.net
    </p>
    <hr class="has-background-primary">
  </div>
</footer>

</div>
</body>

</html>
