<!DOCTYPE html>
<html lang="fr">

  <head>
    <title><%= typeof titre != 'undefined' ? titre : 'Carnet de Suivi' %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="carnet-de-suivi.net une application en ligne pour évaluer les maternelles">
    <meta name="author" content="franckf">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="shortcut icon" href="/images/icone.svg" type="image/svg+xml">
    <script src="/javascripts/main.js" type="module" defer></script>
  </head>

  <body>
    <a class="skip-link" href="#maincontent">Aller au début</a>
    <div class="container is-fluid">

      <span class="button-backtotop">
        <a href="#" title="Retour en Haut">
          <figure class="image is-32x32">
            <!--https://fontawesome.com/license-->
            <img src="/images/icones/chevron-circle-up-solid-primary.svg" alt="boutton retour en haut de page">
          </figure>
        </a>
      </span>

      <section>
        <div class="notification notification-cookie">
          <h3 class="subtitle">En acceptant ou en poursuivant la navigation sur ce site, vous acceptez les Conditions
            Générales d'Utilisations et les cookies nécessaires au bon fonctionnement de celui-ci.
            <a href="/cgu">En savoir plus.</a>
          </h3>
          <button class="button button-cookie is-primary">J'ai bien compris</button>
          <button class="button button-nostats">Ne pas envoyer de statistiques</button>
        </div>
      </section>

      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/images/logo.svg" alt="Logo de carnet de suivi point net" width="180">
            </a>
            <a class="navbar-burger burger" role="button" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu burger-dropdown">
            <div class="navbar-start is-hidden">
              <a class="navbar-item is-size-4" href="/connexion">Se connecter</a>
              <a class="navbar-item is-size-4 has-background-primary has-text-white" href="/enregistrement">S'enregistrer</a>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-light" href="/connexion">Se connecter</a>
                  <a class="button is-primary" href="/enregistrement">S'enregistrer</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <main id="maincontent"></main>
